---
layout: default
title: Home
---

<!-- Show last 5 posts here -->
{% for post in paginator.posts %}
	<article>

        <header>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
            <span class="date"><i class="fa fa-calendar fa-fw"></i><time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="tags"><i class="fa fa-tags fa-fw"></i>
                {% for tag in post.tags %}
                    <a href="{{site.baseurl}}/tags#{{tag | slugify}}" class="tag">{{tag}}</a>
                {% endfor %}
            </span><br/>
            <span class="author"><i class="fa fa-user-circle-o fa-fw"></i> {% if post.author %}{{post.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>
	
		<div class="entry">
            {% capture content_chars %} 
                {{ post.content | size }} 
            {% endcapture %} 

            {{ content_chars | to_integer | inspect }}

            {{ post.content | strip_html | truncate: 400 }}

            {% if content_chars | to_integer > 400 %}
                <p><a href="{{site.baseurl}}{{ post.url }}">Continue reading <i class="fa fa-arrow-right fa-fw"></i></a></p>
            {% endif %}
            <br>
            <span class="share">
                <i class="fa fa-share-alt fa-fw"></i><span class="spacer"></span>
                <a href="https://twitter.com/intent/tweet?text={{post.title}}&url={{ site.url }}{{ site.baseurl }}{{ post.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter fa-fw"></i></a>
                <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official fa-fw"></i></a>
                <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-official fa-fw"></i></a>
                <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ post.url }}&name={{post.title}}&description={{post.excerpt | strip_html | truncate_words: 30}}" rel="nofollow" target="_blank" title="Share on Tumblr"><i class="fa fa-tumblr-square fa-fw"></i></a>
                <a href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ post.url }}&title={{post.title}}" rel="nofollow" target="_blank" title="Share on Reddit"><i class="fa fa-reddit fa-fw"></i></a>
            </span>
        </div>
	</article>
{% endfor %}


<div id="paginator">
    {% if paginator.next_page %}
            <a href="{{site.baseurl}}/page{{paginator.next_page}}">
            &laquo; Older Posts</a>
    {% endif %}

    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
                <span class="more">
                <a href="{{site.baseurl}}/">
                Newer Posts &raquo; </a>
                </span>
        {% else %}
                <span class="more">
                <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
                Newer Posts &raquo; </a>
                </span>
        {% endif %}
    {% endif %}
</div>
