---
title: CSS Stylesheet
---

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|IM+Fell+DW+Pica|IM+Fell+English+SC');

/* CSS reset */
* {
	margin: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

html {
	background-color: rgb(255, 253, 234);
	height: 100%;
	padding-top: 2%;
}

body {
	font-size: 12px;
	font-family: 'IM Fell DW Pica', serif;
	color:#252525;  
	padding-left: 15%;
	padding-right: 15%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

hr {
	border-style: dotted; 
	border-color: #252525;
	border-image-source: url('{{site.url}}/resources/img/dots.svg');
	border-image-slice: 33% 33%;
	border-image-repeat: round;
	border-width: 0 0 4px 0;
	overflow: visible; /* For IE */
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 30%;
	min-width: 30%;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'IM Fell English SC', serif;
	color: #252525;
	margin-bottom: 0.2ex;
	margin-top: 1ex;
}

body>header {
	width: 100%;
	height: 100px;
}

body>header h1 {
	text-align: center;
}

body>header h1>a {
	text-decoration: none;
	font-size: 2em;
	color: #252525;
}

body>header h4 {
	font-size: 1.5em;
	font-family: 'IM Fell DW Pica';
	color: #252525;
	text-align: center;
	margin-top: 0;
}

body>header h1 hr {
	overflow: visible; /* For IE */
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 250px;
	min-width: 250px;
	margin-top: -10px;
}

div#wrapper {
	min-height: calc(100% - 150px - 2%);
	margin-bottom: -50px;
}

h1,h2,h3,h4 {
	width: 100%;
}

pre {
	padding: 5px;
	background-color: #fff;
    box-shadow: 2px 2px 2px #AAA;
	padding-left: 10px;
	padding-bottom: 8px;
	margin-left: 20px;
	overflow-x: auto;
}

code {
	padding-left: 3px;
	padding-right: 3px;
	font-family: 'Anonymous Pro', monospace;
	font-size: 18px;
}

table {
	border: none;
}

td {
	padding-left: 20px;
}

a {
	text-decoration: none;
	color: #437DA5;
}

a:hover {
	color: #696969;
}

main {
	display: block;
	font-size: 20px;
	display: flex;
    flex-direction: column;
    margin-right: 210px;
}

nav {
	float: right;
	width: 200px;
	text-align: left;
	font-size: 16px;
}

nav a,
nav a:visited,
nav a:active {
	color: #437DA5;
}

nav a:hover {
	color: #696969;
}

nav ul {
	margin-top: 0px;
}

nav li {
	margin-left: -25px;
	list-style: none;
}

footer {
	clear: both;
	width: 100%;
	padding-top: 50px;
	font-size: 16px;
	text-align: center;
	height: 50px;
}

footer hr {
	min-width: 10%;
    width: 10%;
}

footer p {
	margin-top: 6px;
}

article {
	margin: 10px;
	margin-bottom: 20px;
}

article h2>a,
article h2>a:visited,
article h2>a:active {
	text-decoration: none;
	color: #437DA5
}

.entry {
	padding-left: 20px;
}

.entry p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

article h2>a:hover {
	color: #696969;
}

article .entry {
	margin-left: 15px;
	padding: 10px;
}

article .entry img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
	margin-bottom: 3px;
}

section address {
	margin-left: 15px;
}

blockquote {
	padding: 0.5em 10px;
	border-left: 2px solid #bbb;
	padding-left: 10px;
	margin: 1.5em 10px;
	quotes: "\201C""\201D";
  }
blockquote:before {
	color: #252525;
	content: open-quote;
	font-size: 2em;
	line-height: 0.1em;
	margin-right: 0.15em;
	vertical-align: -0.2em;
}
blockquote p {
	display: inline;
}

#paginator {
	padding: 10px;
}

#paginator a {
	text-decoration: none;
}

.more {
	margin-left: 80%;
}

.MathJax_Display {
	overflow-x: auto;
}

span.share span.spacer {
	display: inline-block;
	margin-left: 15px;
}

@media (orientation: portrait) {
	body {
		padding-left: 2%;
		padding-right: 2%;
	}

	main {
		font-size: 32px;
	}

	nav {
		font-size: 28px;
	}

	code {
		font-size: 22px;
	}
}