@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|IM+Fell+DW+Pica|IM+Fell+English+SC');

html {
	background-color: #F8ECC2;
}

body {
	font-size: 12px;
	font-family: 'IM Fell DW Pica', serif;
	color:#564b47;  
	padding-left: 20%;
	padding-right: 20%;
	margin-left: auto;
	margin-right: auto;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'IM Fell Englsh SC', serif;
}

body>header h1>a {
	color:#564b47;
	text-decoration: none;
}

body>header h4 {
	margin-top: -10px;
}

h1,h2,h3,h4 {
	width: 100%;
	min-width: 840px;
}

hr {
	margin-left: 0;
	padding-left: 0;
	width: 100%;
	min-width: 840px;
}

pre {
	background-color: #E8E8E8;
	margin-left: 30px;
	padding: 5px;
	width: 80%;
	font-family: 'Anonymous Pro', monospace;
}

code {
	background-color: #E8E8E8;
	padding-left: 3px;
	padding-right: 3px;
}

pre {
	background-color: #E8E8E8;
	margin-left: 30px;
	padding: 5px;
	width: 80%;
}

table {
	border: none;
}

td {
	padding-left: 20px;
}

a:hover {
	color: #696969;
}

main {

	width: 75%;
	min-width: 600px;
	margin-left: 150px;
	display: block;
}

nav {
	float: left;
	width: 150px;
	min-width: 150px;
}

nav a,
nav a:visited,
nav a:active {
	color: blue;
}

nav a:hover {
	color: #696969;
}

nav li {
	margin-left: -25px;
	list-style: none;
}

footer {
	clear: both;
	width: 100%;
}

article {
	margin: 10px;
}

article h2>a,
article h2>a:visited,
article h2>a:active {
	text-decoration: none;
	color: blue;
}

article h2>a:hover {
	color: #696969;
}

article .entry {
	margin-left: 15px;
	padding: 10px;
}

article .entry img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
	margin-bottom: 3px;
}

section address {
	margin-left: 15px;
}

#paginator {
	padding: 10px;
}

#paginator a {
	text-decoration: none;
}

.more {
	margin-left: 80%;
}
