---
title: CSS Stylesheet
---

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|IM+Fell+DW+Pica|IM+Fell+English+SC');

html {
	background-color: rgb(243, 240, 226);
}

body {
	font-size: 12px;
	font-family: 'IM Fell DW Pica', serif;
	color:#252525;  
	padding-left: 20%;
	padding-right: 20%;
	margin-left: auto;
	margin-right: auto;
}

hr {
	border-style: dotted; 
	border-color: #252525;
	border-image-source: url('{{site.url}}/resources/img/dots.svg');
	border-image-slice: 33% 33%;
	border-image-repeat: round;
	border-width: 0 0 4px 0;
	overflow: visible; /* For IE */
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 30%;
	min-width: 30%;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'IM Fell English SC', serif;
	color: #252525;
	margin-bottom: 0.2ex;
}

body>header {
	width: 100%;
}

body>header h1 {
	text-align: center;
}

body>header h1>a {
	text-decoration: none;
	font-size: 2em;
	color: #252525;
}

body>header h4 {
	font-size: 1.5em;
	font-family: 'IM Fell DW Pica';
	color: #252525;
	text-align: center;
	margin-top: 0;
}

body>header h1 hr {
	overflow: visible; /* For IE */
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 250px;
	min-width: 250px;
	margin-top: -10px;
}

h1,h2,h3,h4 {
	width: 100%;
}

pre {
	background-color: #E8E8E8;
	margin-left: 30px;
	padding: 5px;
	width: 80%;
}

code {
	background-color: #E8E8E8;
	padding-left: 3px;
	padding-right: 3px;
	font-family: 'Anonymous Pro', monospace;
}

pre {
	background-color: #E8E8E8;
	margin-left: 30px;
	padding: 5px;
	width: 80%;
}

table {
	border: none;
}

td {
	padding-left: 20px;
}

a {
	text-decoration: none;
}

a:hover {
	color: #696969;
}

main {

	width: 75%;
	margin-right: 150px;
	display: block;
	font-size: 20px;
}

nav {
	float: right;
	width: 150px;
	min-width: 150px;
	text-align: left;
	font-size: 16px;
}

nav a,
nav a:visited,
nav a:active {
	color: #437DA5;
}

nav a:hover {
	color: #696969;
}

nav ul {
	margin-top: 0px;
}

nav li {
	margin-left: -25px;
	list-style: none;
}

footer {
	clear: both;
	width: 100%;
	padding-top: 50px;
}

article {
	margin: 10px;
}

article h2>a,
article h2>a:visited,
article h2>a:active {
	text-decoration: none;
	color: #437DA5
}

.entry {
	padding-left: 20px;
}

article h2>a:hover {
	color: #696969;
}

article .entry {
	margin-left: 15px;
	padding: 10px;
}

article .entry img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

article header span {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}

article header h2 {
	margin-bottom: 3px;
}

section address {
	margin-left: 15px;
}

#paginator {
	padding: 10px;
}

#paginator a {
	text-decoration: none;
}

.more {
	margin-left: 80%;
}

@media (orientation: portrait) {
	body {
		padding-left: 5%;
		padding-right: 5%;
	}

	main {
		font-size: 28px;
	}

	nav {
		font-size: 22px;
	}
}