---
layout: page
title: Tags
---

{% include common.html %}

{% for tag in tags %}
	<h3 id="{{ tag | slugify }}">{{ tag }}</h2>
	<section>
		<table>
			{% for post in site.posts %}
				{% if post.tags contains tag %}
					<tr>
						<td><i class="icon-clock"></i> <time datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time></td>  
						<td><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></td>
					</tr>
				{% endif %}
			{% endfor %}
		</table>
	</section>
{% endfor %}