<!DOCTYPE html>

{% include common.html %}

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <link rel="stylesheet" href="{{site.baseurl}}/highlight.css">
        <link rel='stylesheet' href='{{site.baseurl}}/resources/typicons/typicons.min.css' />

        <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    </head>

    <body>
        <header>
            <h1><a href="{{site.baseurl}}/">{{ site.name }}</a><hr></h1>
            
                <h4>{{ site.description }}</h4>
        </header>

        <div id="wrapper">
            <nav>

                <h3>Navigation</h3>

                <ul>
                    <li><i class="typcn typcn-home"></i>   <a href="{{site.baseurl}}/">Home</a></li>
                    <li><i class="typcn typcn-archive"></i>     <a href="{{site.baseurl}}/archive">Archive</a></li>
                    <li><i class="typcn typcn-tags"></i>     <a href="{{site.baseurl}}/tags">Tags</a></li>
                    <li><i class="typcn typcn-rss"></i>    <a href="{{site.baseurl}}/feed.xml">RSS Feed</a></li>
                </ul>

                <h3>My links</h3>

                <ul>
                    <li><span class="typcn typcn-social-twitter"></span>   <a href="http://www.twitter.com/figglewatts">Twitter</a></li>
                    <li><span class="typcn typcn-social-tumbler"></span>   <a href="http://blog.figglewatts.co.uk">Tumblr</a></li>
                    <li><span class="typcn typcn-social-github"></span>   <a href="http://github.com/figglewatts">Github</a></li>
                </ul>
                
                <h3>Tags</h3>
                <ul>
                {% for tag in sitetags %}
                    <li><i class="typcn typcn-tag"></i><a href="{{site.baseurl}}/tags/#{{ tag | slugify }}"> {{ tag }} </a></li>
                {% endfor %}
                </ul>
            </nav>

            <main>

                {{ content }}

            </main>
        </div>
        <footer>
            <hr />
            <p>&copy; <time>2017</time> {{ site.author }}</p>
        </footer>

        <script src="{{site.baseurl}}/scripts.js"></script>
    </body>

</html>
