<!DOCTYPE html>

{% include common.html %}

<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content="{{site.description}}"/>
        <meta name="author" content="{{site.author}}"/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />

        <link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello.css">
		<link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/animation.css">
        <link rel="stylesheet" href="{{site.baseurl}}/highlight.css">
        <link rel='stylesheet' href='{{site.baseurl}}/resources/typicons/typicons.min.css' />
        <!--[if IE 7]><link rel="stylesheet" href="{{site.baseurl}}/resources/fontello/css/fontello-ie7.css"><![endif]-->
    </head>

    <body>
        <header>
            <h1><a href="{{site.baseurl}}/">{{ site.name }}</a><hr></h1>
            
                <h4>{{ site.description }}</h4>
        </header>

        <nav>

            <h3>Navigation</h3>

            <ul>
                <li><i class="icon-home"></i>   <a href="{{site.baseurl}}/">Home</a></li>
                <li><i class="icon-th"></i>     <a href="{{site.baseurl}}/archive">Archive</a></li>
                <li><i class="icon-tag"></i>     <a href="{{site.baseurl}}/tags">Tags</a></li>
                <li><i class="icon-rss"></i>    <a href="{{site.baseurl}}/feed.xml">RSS Feed</a></li>
            </ul>

            <h3>My links</h3>

            <ul>
                <li><i class="typcn typcn-social-twitter"></i>   <a href="http://www.twitter.com/figglewatts">Twitter</a></li>
                <li><i class="typcn typcn-social-tumbler"></i>   <a href="http://blog.figglewatts.co.uk">Tumblr</a></li>
                <li><i class="typcn typcn-social-github"></i>   <a href="http://github.com/figglewatts">Github</a></li>
                <li><i class="icon-mail"></i>   <a href="mailto://me@figglewatts.co.uk">Email</a></li>
			</ul>
			
			<h3>Tags</h3>
			<ul>
			{% for tag in sitetags %}
				<li><i class="icon-tag"></i><a href="{{site.baseurl}}/tags/#{{ tag | slugify }}"> {{ tag }} </a></li>
			{% endfor %}
			</ul>
        </nav>

        <main>

            {{ content }}

        </main>

        <footer>
            <hr />
            <p>&copy; <time>2017</time> {{ site.author }}</p>
        </footer>

        <script src="{{site.baseurl}}/scripts.js"></script>
    </body>

</html>
