---
layout: default
---

{% include common.html %}

<article>
        <header>
            <h2>{{ page.title }}</h2>
            <span><i class="fa fa-calendar fa-fw"></i><time datetime="{{page.date|date:"%F"}}">{{page.date|date:"%b %d, %Y"}}</time></span><br/>
            <span class="tags"><i class="fa fa-tags fa-fw"></i>
                {% for tag in page.tags %}
                    <a href="{{site.baseurl}}/tags#{{tag | slugify}}" class="tag">{{tag}}</a>
                {% endfor %}
            </span><br/>
            <span class="author"><i class="fa fa-user-circle-o fa-fw"></i> {% if page.author %}{{page.author}}{% else %}{{site.author}}{% endif%}</span>
        </header>

        <div class="entry">{{ content }}</div>
        
        <br>
        <span class="share">
            <i class="fa fa-share-alt fa-fw"></i><span class="spacer"></span>
            <a href="https://twitter.com/intent/tweet?text={{page.title}}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter fa-fw"></i></a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-official fa-fw"></i></a>
            <a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-official fa-fw"></i></a>
            <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&name={{page.title}}&description={{page.excerpt | strip_html | truncate_words: 30}}" rel="nofollow" target="_blank" title="Share on Tumblr"><i class="fa fa-tumblr-square fa-fw"></i></a>
            <a href="http://www.reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{page.title}}" rel="nofollow" target="_blank" title="Share on Reddit"><i class="fa fa-reddit fa-fw"></i></a>
        </span>

        <footer><!-- additional info --></footer>

</article>

{% if page.comments %}
    <div id="disqus_thread"></div>
    <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        
        var disqus_config = function () {
        this.page.url = "{{site.url}}/{{site.baseurl}}{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{page.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://figgleblog.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}